@import "../../vars.css";

.container {
  background-color: white;
  padding: 73px;
  margin-top: 250px;
  z-index: 1;
  scroll-margin-top: 150px;
}

.aboutSkills {
  display: flex;
  justify-content: center;
  gap: 200px;
  padding-left: 200px;
}

.title {
  text-decoration: underline;
  text-underline-offset: 0.3em;
  font-size: 50px;
  padding-bottom: 50px;
}

.aboutSkillsContainer {
  width: 700px;
}

.description {
  font-size: 20px;
  padding-bottom: 30px;
}
